body {
    background-image: url('../images/SYRACUSE_BlockS_ORANGE_RGB.png');
    background-repeat: repeat;
    background-size: contain; 
}
p {
    background-color: #FFE4B5; 
    border: 3px solid #4682B4; 
    padding: 20px;
    width: fit-content;
    margin: 20px;
    font-family: Arial, sans-serif; 
    color: #FF4500; 
    font-size: 20px; 
    text-align: center; 
}